{{ define "main" }}
<main id="home">
    <section class="full links">
        <h1>Find your community</h1>
        <h2>Australia</h2>
        <div class="row">
            <div class="logo"></div>
            <div class="info">
                <h3>Brisbane.swift</h3>
                <a href="https://www.meetup.com/brisbane-swift/" target="_blank">metup.com/brisbane-swift</a>
            </div>
        </div>
        <div class="row">
            <div class="logo">
                <center>{{ partial "cocoaheads-logo.svg" . }}</center>
            </div>
            <div class="info">
                <h3>Canberra CocoaHeads</h3>
                <a href="https://canberra.cocoaheads.au/" target="_blank">canberra.cocoaheads.au</a>
            </div>
        </div>
        <div class="row">
            <div class="logo">
                <center>{{ partial "melbourne-logo.svg" . }}</center>
            </div>
            <div class="info">
                <h3>Melbourne CocoaHeads</h3>
                <a href="https://melbournecocoaheads.com/" target="_blank">melbournecocoaheads.com</a>
            </div>
        </div>
        <div class="row">
            <div class="logo">
                <center>{{ partial "cocoaheads-logo.svg" . }}</center>
            </div>
            <div class="info">
                <h3>Sydney CocoaHeads</h3>
                <a href="http://www.sydneycocoaheads.com/" target="_blank">sydneycocoaheads.com</a>    
            </div>
        </div>
        <h2>New Zealand</h2>
        <div class="row">
            <div class="logo">
                <center>{{ partial "auckland-logo.svg" . }}</center>
            </div>
            <div class="info">
                <h3>CocoaHeads Auckland</h3>
                <a href="https://www.meetup.com/cocoaheadsauckland/" target="_blank">meetup.com/cocoaheadsauckland</a>
            </div>
        </div>
        <div class="row">
            <div class="logo">
                <center>{{ partial "cocoaheads-logo.svg" . }}</center>
            </div>
            <div class="info">
                <h3>CocoaHeads Wellington</h3>
                <a href="https://www.meetup.com/cocoaheads-wellington/" target="_blank">meetup.com/cocoaheads-wellington</a>
            </div>
        </div>
    </section>
    <section class="full">
        <h1>Slack</h1>
        <div class="row">
            <p>All CocoaHeads groups across the region share a single Slack instance. <a href="{{ .Site.Params.Socials.Slack }}" class="slack">Join us</a> to find your local community members and talk shop with developers across the region. With channels for each group, for #jobs, and for specific topics like #swift, #swiftui and even #appkit you're bound to find people working on familiar problems. </p>
            <p><a href="{{ .Site.Params.Socials.Slack }}" class="slack">https://cocoaheads-aunz.slack.com/</a></p>
        </div>
    </section>
</main>

{{ end }}